<div ng-app="listing-event">
  <div ng-controller="usercontroller">
    
    <div class="top-stay row">
      <div class="row pad_top" >
        <input type="text" ng-model="usersearch" id="user-search-bar" placeholder="search users">
        <div class="row search-results-div">
          <p class="small-12 columns center" ng-repeat="x in search_results">
            <a class="small-12 columns" href="/users/{{x.id}}">{{x.first_name + " "+ x.last_name}}</a>
          </p>
        </div>
        <div class="row user_image">
          <span class="small-6 user-popularity">{{user.popularity}}<i class="fi-star"></i></span>
          <img class="small-6" src={{user.profile_pic_url}}>
        </div>
        <div class="row user-name">
          <p>{{user.first_name}} {{user.last_name}}</p>
        </div>
      </div>
    </div>

    <ul class="tabs row" data-tab>
      <li class="small-4 columns tab-title active"><a href="#events_tab">events</a></li>
      <li class="small-4 columns tab-title"><a href="#love_hate_tab">love/hate</a></li>
      <li class="small-4 columns tab-title"><a href="#instagram_tab">instagram</a></li>
    </ul>

    <div class="tabs-content row pad_top">
      
      <div class="content active" id="events_tab">
        <div id="user_events" ng-show="user.events.length" class="user-page-repeats">
         <div ng-repeat="x in user.events | orderBy: '-created_at'"
         class="event_detail">
            <h5>Venue</h5>
            <p>{{x.venue_name}}</p>
            <h5>Address</h5>
            <p>{{x.address}}</p>
            <h5>Date</h5>
            <p>{{x.created_at | date: "shortDate"}}</p>
            <h5>Popularity</h5>
            <p>{{x.score}}</p>
          </div>
        </div>
      </div>

      <div class="content" id="love_hate_tab">
        <div id="user_remarks_made" ng-show="user.remarks_made.length">
          <div ng-repeat="x in user.remarks_made | orderBy: '-created_at'" class="love_detail">
            <h5>Description</h5>
            <p>{{x.description}}</p>
            <h5>Love or Hate</h5>
            <p>{{x.remark_direction}}</p>
            <h5>Directed At</h5>
            <p>{{x.receiver.first_name +" "+x.receiver.last_name}} 
            <img src='/assets/{{x.receiver.profile_pic_url}}'>
            </p>
            <h5>Date</h5>
            <p>{{x.created_at | date: "shortDate"}}</p>
            <h5>Venue</h5>
            <p>{{x.event.venue_name}}</p>
            <p>{{x.event.address}}</p>
            <h5>Score</h5>
            <p>{{x.score}}</p>
          </div>
        </div>

        <div id="user_remarks_received" ng-show="user.remarks_received.length">
          <div ng-repeat="x in user.remarks_received | orderBy: '-created_at'" class="hate_detail">
            <h5>Description</h5>
            <p>{{x.description}}</p>
            <h5>Love or Hate</h5>
            <p>{{x.remark_direction}}</p>
            <h5>Made by</h5>
            <p>{{x.giver.first_name +" "+x.giver.last_name}} <img src='/assets/{{x.giver.profile_pic_url}}'></p>
            <h5>Date</h5>
            <p>{{x.created_at | date: "shortDate"}}</p>
            <h5>Venue</h5>
            <p>{{x.event.venue_name}}</p>
            <p>{{x.event.address}}</p>
            <h5>Score</h5>
            <p>{{x.score}}</p>
          </div>
        </div>
      </div>

      <div class="content" id="instagram_tab">
        <div ng-show="!images_array.length" class="instagram_detail">
          <p>You have not tagged any images with "#popular" yet</p>
        </div>
        <div id="images_array_div" ng-show="images_array.length">
          <div ng-repeat="x in images_array" class="instagram_detail">
            <p><img src='{{x.images.thumbnail.url}}'></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
