<div class="row">
<div id="user-top" ng-app="listing-event">
<div ng-controller="usercontroller">

    <div class="Top-stay">
        <div class="search-together">
            <input type="text" ng-model="usersearch" id="user-search-bar" placeholder="search users">
            <div class="search-results-div">
              <p class="search-results" ng-repeat="x in search_results">
                <a class="a-show" href="/users/{{x.id}}">{{x.first_name + " "+ x.last_name}}</a>
              </p>
            </div> <!-- -->
        </div>
        <div class="user_image">
          <span class="small-6 user-popularity">{{user.popularity}}<i class="fi-star"></i></span>
          <img class="small-6" ng-src={{user.profile_pic_url}}>
        </div>
        <div class="user-name">
          <p>{{user.first_name}} {{user.last_name}}</p>
        </div>
    </div>

    <ul class="tabs" data-tab>
      <li class="small-4 columns tab-title active"><a href="#events_tab">events</a></li>
      <li class="small-4 columns tab-title"><a href="#love_hate_tab">love/hate</a></li>
      <li class="small-4 columns tab-title"><a href="#instagram_tab" id="instagram_tab">instagram</a><%= form_tag("https://api.instagram.com/oauth/authorize/?client_id=aa9957e61be84506809478317f133305&redirect_uri=http://popular-dbc.herokuapp.com/auth&response_type=token", id: 'instagram_form') do %><%end%></li>
    </ul>

    <div class="tabs-content pad_top">

      <div class="content active" id="events_tab">
        <div ng-show="!user.events.length" class="event_detail">
          <p>No events attended yet</p>
        </div>
        <div id="user_events" ng-show="user.events.length" class="user-page-repeats">
         <div ng-repeat="x in user.events | orderBy: '-created_at'" class="event_detail">
            <h5>{{x.venue_name}}</h5>
            <p>{{x.address}}</p>
            <p>{{x.created_at | date: "shortDate"}}</p>
            <p>{{x.score}}<i class="fi-star"></i></p>
          </div>
        </div>
      </div>

      <div class="content" id="love_hate_tab">
        <h3 class="content-header-user-page">remarks made</h3>
        <div ng-show="!user.remarks_made.length" class="love_detail">
          <p>No remarks made yet</p>
        </div>
        <div id="user_remarks_made" ng-show="user.remarks_made.length">
          <div ng-repeat="x in user.remarks_made | orderBy: '-created_at'" class="love_detail">
            <h5>{{x.created_at | date: "shortDate"}} at {{x.event.venue_name}}</h5>
            <p> You had the following to say about
              {{x.receiver.first_name +" "+x.receiver.last_name}}
              : "
              {{x.description}}
              "
            </p>
            <p>
              {{x.score}}<i class="fi-star"></i>
            </p>
          </div>
        </div>
        <p></p>
        <p></p>
        <h3 class="content-header-user-page">remarks received</h3>
        <div ng-show="!user.remarks_received.length" class="hate_detail">
          <p>No remarks received yet</p>
        </div>
        <div id="user_remarks_received" ng-show="user.remarks_received.length">
          <div ng-repeat="x in user.remarks_received | orderBy: '-created_at'" class="hate_detail">
            <h5>{{x.created_at | date: "shortDate"}} at {{x.event.venue_name}}</h5>
            <p>{{x.giver.first_name +" "+x.giver.last_name}} had the following to say about you:
            <p>"{{x.description}}"</p>
            </p>
            <p>{{x.score}}<i class="fi-star"></i></p>
          </div>
        </div>
      </div>

      <div class="content" id="instagram_tab">
        <div ng-show="!images_array.length" class="instagram_detail">
          <p>No images tagged with "#popular" yet</p>
        </div>
        <div id="images_array_div" ng-show="images_array.length">
          <div ng-repeat="x in images_array" class="instagram_detail">
            <p class="instagram_pics_border"><a href='{{x.images.link}}'><img ng-src={{x.images.thumbnail.url}}></a></p>
            <p ng-bind={{x.images.caption.text}}></p>
            <p></p>
          </div>
        </div>
      </div>

   </div> <!-- -->


</div>
</div>
</div>
