<div class="remark row">
  <% giver = User.find(remark.giver_id) %>
  <% receiver = User.find(remark.receiver_id) %>
  <%= giver.first_name + " said '" + remark.description + "' about " + receiver.first_name %>
</div>