<div ng-app="listing-event">
  <div ng-controller="listController">
    <div class="row">
      <input id="search-box" ng-model="searchItem" placeholder="Search">
      <div id="map" class="small-12 columns"></div>
    </div>
    <div class="row small-collapse">
      <div class="small-4 columns">
        <button id="join-event" ng-click="joinEvent()">vote</button>
      </div>
      <div class="small-4 columns">
        <button id="list-places" ng-click="listPlaces()">create</button>
      </div>
      <div class="small-4 columns">
        <button id="create-house-party" ng-click="houseEventForm()">house party</button>
      </div>
    </div>
    <div ng-if="mode == SEARCH_MODE">
      <div ng-if="focusEvent">
        <div class="row">
          <div class="small-12 columns">
            <div class="focus-event" ng-click="focusEventItem()">
              <h4 class="venue-name">{{focusEvent.venue_name}}</h4>
              <h5 class="venue-address">{{focusEvent.address}} 1212 Dummy Address Ave., New York, NY 10003</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="event-list">
        <h4>Event List</h4>
          <div ng-repeat="item in data">
        <div id="index-event-list" class="row">
            <div ng-click="eventItem()" data-id="{{item.id}}" class="event-item" >
              <div class="small-6 columns">
                <div class="venue-name">
                  <h4 class="venue-name">{{item.venue_name}}</h4>
                </div>
              </div>
              <div class="small-6 columns">
                <div ng-if="item.joinable">
                  <h4 class="join-link"><a class="join-link" ng-click="redirectTo(item.id); $event.stopPropagation()">check in</a></h4>
                </div>
              </div>
              </div>
        </div>
            </div>
      </div>
    </div>

    <div ng-if="mode == CREATE_MODE">
      <h4>Places</h4>
      <div class="place-list" ng-repeat="item in places">
        <div class="place-item">
          <div class="name-block">{{item.name}}</div>
          <div class="address">{{item.vicinity}}</div>
          <div class="rating">Rating: {{item.rating}}</div>
          <div>
            <button class="host-btn" ng-click="createEvent(item)">Host Here</button>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="mode == HOUSE_MODE">
      <form novalidate class="simple-form">
        <div>
          Party Name: <input type="text" ng-model="party.eventName" />
        </div>
        <div>
          Address: <input type="text" ng-model="party.eventAddress" />
        </div>

        <input type="submit" ng-click="createHouseEvent(party)" value="Save" />
      </form>
    </div>

  </div>
</div>

