<div ng-app="listing-event">
  <div ng-controller="listController">
    <div id="searchbox-container"></div>
    <div id="fix-map">
      <div class="row">
        <div id="map" class="small-12 columns"></div>
      </div>
      <div class="row small-collapse">
        <div class="small-4 columns">
          <button id="join-event" ng-click="joinEvent()">vote</button>
        </div>
        <div class="small-4 columns">
          <button id="create-venue" ng-click="listPlaces()">create</button>
        </div>
        <div class="small-4 columns">
          <button id="house-party" ng-click="houseEventForm()">house party</button>
        </div>
      </div>
    </div>


      <div ng-if="mode == SEARCH_MODE" class="event-list">
          <div class="index-title">
            <h4 class="pink-underline">Event List</h4>
          </div>

          <div class="list">
            <div ng-repeat="item in data">
              <div class="row">
                <div class="small-12 columns event-splitter-pink">
                  <div ng-click="eventItem()" data-id="{{item.id}}" class="event-item " >

                    <div class="small-9 columns">
                      <div class="venue-name">
                        <h5 class="venue-name">{{item.venue_name}}</h5>
                      </div>
                    </div>

                    <div ng-if="item.joinable" class="check-in small-3 columns">
                        <a class="join-link-rose-quartz" ng-click="redirectTo(item.id); $event.stopPropagation()">check in</a>
                    </div>

                    <div ng-if="!item.joinable && item.voted == '1'" class="small-3 columns">
                        <a class="join-link-green" ng-click="redirectTo(item.id); $event.stopPropagation()">view</a>
                    </div>

                    <div ng-if="!item.joinable && item.voted == '-1'" class="small-3 columns">
                        <a class="join-link-red" ng-click="redirectTo(item.id); $event.stopPropagation()">ditched</a>
                    </div>

                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div ng-if="mode == CREATE_MODE" class="event-list" >
        <div class="index-title">
          <h4 class="blue-underline">Bars, Clubs, and Venues</h4>
        </div>

        <div class="list">
          <div id="place-list" ng-repeat="item in places">
            <div id="new-index-event-list" class="row">
                <div class="small-8 columns">
                  <div class="name-block"><h5 class="venue-name">{{item.name}}</h5></div>
                  <div class="place-detail">
                    <p class="venue-address">{{item.vicinity}}</p>
                    <p class="rating">Rating: {{item.rating}}</p>
                  </div>
                </div>

                <div class="small-4 columns">
                  <a class="host-link" ng-click="createEvent(item)">Host</a>
                </div>
            </div>

            </div>
          </div>
        </div>

      <div ng-if="mode == HOUSE_MODE && ableToCreate()" class="event-list">
        <div class="index-title">
          <h4 class="green-underline">Throw a House Party</h4>
        </div>
        <div class="list">
          <form novalidate>
            <div class="row">
              <div class="small-4 columns">
                <h5 class="house-party-name">Party Name:</h5>
              </div>
              <div class="small-8 columns">
                <input class="round-form" type="text/css" ng-model="party.eventName" />
              </div>
            </div>
            <div class="row">
              <div class="small-3 columns">
                <h5 class="house-party-address">Address:</h5>
              </div>
              <div class="small-9 columns">
                <input class="round-form" type="text/css" ng-model="party.eventAddress" placeholder="Your current location"/>
              </div>
            </div>
            <div class="row">
              <div class="small-3 columns">
                <h5 class="house-party-name">Description:</h5>
              </div>
              <div class="small-9 columns">
                <textarea id="house-party-description" ng-model="party.eventDesc"></textarea>
              </div>
            </div>

            <div class="row">
              <div class="small-3 columns">
                <h5 class="house-party-name">Threshold:</h5>
              </div>
              <div class="small-9 columns">
                <input class="round-form" type="text/css" ng-model="party.eventThreshold" placeholder="max: {{user.popularity}}"/>
              </div>
            </div>
            <div class="row collapse">
              <div class="small-12 columns">
                <button class="turn-it-up" type="submit" ng-click="createHouseEvent(party)">turn it up</button>
              </div>
            </div>
          </form>
          <div id="blue-bar"></div>
        </div>
      </div>

      <div ng-if="mode == HOUSE_MODE && !ableToCreate()">
        <div class="list">
          You have to wait {{timeToWait()}} hours to make your own party.
        </div>
      </div>

  </div>
</div>

<div class="white-blank-page"></div>

<div class="flower-loader">
  <h1 class="rose-quartz">Popular</h1>
  <h5 class="enable-location">Please make sure location<br>services are enabled</h5>
</div>
