<div ng-app="listing-event" class="row">
  <div ng-controller="listController">
    <div id="map"></div>
    <button id="join-event" ng-click="joinEvent()">Near</button>

    <button ng-if="show" id="list-places" ng-click="listPlaces()">Host your own</button>

    <div ng-if="mode">
      <div ng-if="focusEvent">
        <div class="focus-event" ng-click="focusEventItem()">
          <h5>Focus Event</h5>
          <div class="focus-venue-name">{{focusEvent.venue_name}}</div>
          <div>{{focusEvent.score}}</div>
        </div>
      </div>

      <div class="event-list">
        <h4>Event List</h4>
        <div ng-repeat="item in data">
          <div ng-click="eventItem()" data-id="{{item.id}}" class="event-item" >
            <div class="venue-name">
              {{item.venue_name}}
            </div>
            <div ng-if="item.joinable">
              <button ng-click="redirectTo(item.id); $event.stopPropagation()">Join</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="!mode">
      <h4>Places</h4>
      <div class="place-list" ng-repeat="item in places">
        <div class="place-item">
          <div class="name-block">{{item.name}}</div>
          <div class="address">{{item.vicinity}}</div>
          <div class="rating">Rating: {{item.rating}}</div>
          <div>
            <button class="host-btn" ng-click="createEvent(item)">Host Here</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

