<div ng-app="listing-event" class="row">
  <div ng-controller="listController">
    <div id="map"></div>
    <button ng-click="joinEvent()">Near</button>

    <button ng-click="createEvent()">Host</button>
    <div ng-if="focusEvent">
      <div class="focus-event debug" ng-click="focusEventItem()">
        <h5>Focus Event</h5>
        <div class="focus-venue-name">{{focusEvent.venue_name}}</div>
        <div>{{focusEvent.score}}</div>
      </div>
    </div>

    <div class="event-list debug">
      <h4>Event List</h4>
      <div ng-repeat="item in data">
        <div ng-click="eventItem()" data-id="{{item.id}}" class="event-item" >
          <div class="venue-name">
            {{item.venue_name}}
          </div>
          <div ng-if="item.joinable">
            <button>Join</button>
          </div>
        </div>
      </div>
    </div>

    <i
  </div>
</div>



