<div ng-app="listing-event">
  <div ng-controller="listController">

    <div id="fix-map">
      <div class="row">
        <div id="map" class="small-12 columns"></div>
      </div>
      <div class="row small-collapse">
        <div class="small-4 columns">
          <button id="join-event" ng-click="joinEvent()">near me</button>
        </div>
        <div class="small-4 columns">
          <button id="create-venue" ng-click="listPlaces()">create</button>
        </div>
        <div class="small-4 columns">
          <button id="house-party" ng-click="houseEventForm()">house party</button>
        </div>
      </div>
    </div>


      <div ng-if="mode == SEARCH_MODE">
        <div ng-if="showFocus">
          <div class="row">
              <div class="small-12 columns focus-event" ng-click="focusEventItem()">
                <i class="fi-minus close-icon" ng-click="closeFocus()"></i>
                <h5 class="venue-name">{{focusEvent.venue_name}}</h5>
                <p class="venue-address">{{focusEvent.address}}</p>
              </div>
                <div ng-if="item.joinable">
                  <h5 class="join-link"><a class="join-link" ng-click="redirectTo(item.id); $event.stopPropagation()">check in</a></h5>
                </div>
          </div>
        </div>

        <div class="event-list">
          <div class="index-title">
            <h4 class="pink-underline">Event List</h4>
          </div>
          <div class="lists-relative">
            <div ng-repeat="item in data">
              <div id="index-event-list" class="row">
                <div ng-click="eventItem()" data-id="{{item.id}}" class="event-item" >
                  <div class="small-9 columns">
                    <div class="venue-name">
                      <h5 class="venue-name">{{item.venue_name}}</h5>
                    </div>
                  </div>
                  <div class="check-in" ng-if="item.joinable">
                    <div class="small-3 columns">
                      <h5 class="join-link"><a class="join-link-rose-quartz" ng-click="redirectTo(item.id); $event.stopPropagation()">check in</a></h5>
                    </div>
                  </div>
                  <div ng-if="!item.joinable && item.voted == '1'">
                    <div class="small-3 columns">
                      <h5 class="join-link"><a class="join-link-green" ng-click="redirectTo(item.id); $event.stopPropagation()">view</a></h5>
                    </div>
                  </div>
                  <div ng-if="!item.joinable && item.voted == '-1'">
                    <div class="small-3 columns">
                      <h5 class="join-link"><a class="join-link-red" ng-click="redirectTo(item.id); $event.stopPropagation()">ditched</a></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="new-event-list" ng-if="mode == CREATE_MODE">
        <div class="index-title">
          <h4 class="blue-underline">Bars, Clubs, and Venues</h4>
        </div>
        <div class="lists-relative">
          <div id="place-list" ng-repeat="item in places">
            <div id="new-index-event-list" class="row">
                <div class="small-9 columns">
                  <div class="name-block"><h5 class="venue-name">{{item.name}}</h5></div>
                </div>
                <div class="small-3 columns">
                  <h5 class="host-link"><a class="host-link" ng-click="createEvent(item)">Host</a></h5>
                </div>
            </div>
            <div class="row new-index-address">
              <div class="small-8 columns">
                <div class="address"><p class="venue-address">{{item.vicinity}}</p></div>
              </div>
              <div class="small-4 columns">
                <div><p class="rating">Rating: {{item.rating}}</p></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="mode == HOUSE_MODE">
        <div class="index-title">
          <h4 class="green-underline">Throw a House Party</h4>
        </div>
        <div class="lists-relative">
          <form novalidate>
            <div class="row">
              <div class="small-4 columns">
                <h5 class="house-party-name">Party Name:</h5>
              </div>
              <div class="small-8 columns">
                <input class="round-form" type="text/css" ng-model="party.eventName" />
              </div>
            </div>
            <div class="row">
              <div class="small-3 columns">
                <h5 class="house-party-address">Address:</h5>
              </div>
              <div class="small-9 columns">
                <input class="round-form" type="text/css" ng-model="party.eventAddress" />
              </div>
            </div>
            <div class="row">
              <div class="small-3 columns">
                <h5 class="house-party-name">Description:</h5>
              </div>
              <div class="small-9 columns">
                <textarea id="house-party-description" ng-model="party.eventDesc"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-3 columns">
              <h5 class="house-party-name">Threshold:</h5>
            </div>
            <div class="small-9 columns">
              <input id="house-party-threshold" ng-model="party.eventThreshold" placeholder="max: {{userPopularity}}"/>
            </div>
          </div>
          <div class="row collapse">
            <div class="small-12 columns">
              <button class="turn-it-up" type="submit" ng-click="createHouseEvent(party)">turn it up</button>
              </div>
            </div>
          </form>
          <div id="blue-bar"></div>
        </div>
      </div>

  </div>
</div>

