body{
  border: 1px solid transparent;
}

#search-box {
  width: 66%;
  margin-top: 5px;
  border-radius: 20px;
  opacity: 0.75;
}
.pac-container {
  position:fixed;
  top: 10vh;
}

h5.venue-name {
  font-family: 'Abel', sans-serif;
  text-align: left;
  color: #5c7cb8;
}

.event-splitter-pink {
  border-bottom: 2px solid #f7cac9;
}

p.venue-address {
  font-family: 'Abel', sans-serif;
  color: #f7cac9;
  margin-bottom: .2em;
}

.event-item a{
  margin-top: .5em;
  margin-bottom: .5em;
  text-align: center;
  font-weight: bold;
  display: block;
  height: 2em;
  line-height: 2em;
  width: 4em;
  color: #FFF;
  font-family: 'Abel', sans-serif;
}

a.join-link-rose-quartz {
  background-color: #f7cac9;
}

a.join-link-green {
  background-color: #9DC49D;
}

a.join-link-red {
  background-color: #933f3d;
}

a.join-link:hover {
  color: #ac6b6a;
}

.host-link {
  display: block;
  background-color: #f7cac9;
  color: #FFF;
  font-family: 'Abel', sans-serif;
  text-align: center;
  height: 2.5em;
  line-height: 2.5em;
  margin-top: 1.5em;
}

a.host-link:hover {
  color: #ac6b6a;
}

#join-event {
  width: 100%;
  background-color: #92a8d1;
  padding: .8em 0em .8em 0em;
}

#create-venue {
  width: 100%;
  background-color: #5c7cb8;
  padding: .8em 0em .8em 0em;
}

#house-party {
  width: 100%;
  background-color: #2f569f;
  padding: .8em 0em .8em 0em;
}



.event-list {
  margin-top: 60vh;
  margin-bottom: 4px;
}

#new-index-event-list {
  border-top: 2px solid #92a8d1;
}

.rating {
  font-family: 'Abel', sans-serif;
  color: #92a8d1;
  margin-bottom: 0;
}

.round-form {
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:3px;
  border: 2px inset #999;
  margin-top: .7em;
  line-height: 2em;
  width: 100%;
}

h5.house-party-name {
  font-family: 'Abel', sans-serif;
  color: #5c7cb8;
  margin-right: -1em;
  text-align: left;
}

h5.house-party-address {
  font-family: 'Abel', sans-serif;
  color: #de8a89;
  text-align: left;
}

.turn-it-up {
  width: 100%;
  font-size: 2em;
  color: #FFF;
  background-color: #c55452;
  margin-top: .2em;
  margin-bottom: 0em;
}

#blue-bar {
  height: 2em;
  background-color: #92a8d1;
}

textarea#house-party-description {
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:3px;
  border: 2px inset #999;
  margin-bottom: 0px;
}

#fix-map {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.index-title {
  position: fixed;
  top: 57vh;
  width: 100%;
  z-index: 3;
  background-color: #FFF;
  font-size: .75em;
}

.list {
  position: relative;
  margin-top: 65vh;
  width: 100%;
}


.pink-underline {
  margin-top: -2px;
  border-top: 3px solid #92a8d1;
  border-bottom: 3px solid #f7cac9;
  padding-bottom: 0;
  margin-bottom: 0;
}

.blue-underline {
  margin-top: -2px;
  border-top: 3px solid #5c7cb8;
  border-bottom: 3px solid #92a8d1;
  padding-bottom: 0;
  margin-bottom: 0;
}

.green-underline {
  margin-top: -2px;
  border-top: 3px solid #2f569f;
  border-bottom: 3px solid #9DC49D;
  padding-bottom: 0;
  margin-bottom: 0;
}

.white-blank-page {
  display: block;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #FFF;
}

.flower-loader {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #FFF;
  background: #FFF
              url('ajax-loader.gif')
              50% 50%
              no-repeat;
}

h1.rose-quartz {
  font-size: 10vh;
  margin-top: 30vh;
  font-family: 'Oleo Script', cursive;
  text-align: center;
  color: #f7cac9;
}

h5.enable-location {
  font-size: 3vh;
  margin-top: 40vh;
  font-family: 'Oleo Script', cursive;
  text-align: center;
  color: #f7cac9;
}
