#search-box {
  width: 66%;
  margin-top: 5px;
  border-radius: 20px;
  opacity: 0.75;
}

h5.venue-name {
  font-family: 'Abel', sans-serif;
  text-align: left;
  color: #5c7cb8;
}

p.venue-address {
  font-family: 'Abel', sans-serif;
  color: #f7cac9;
}

h5.join-link {
  font-family: 'Abel', sans-serif;
  width: 100%;
  text-align: center;
}

a.join-link-rose-quartz {
  display: block;
  height: 100%;
  color: #FFF;
  font-family: 'Abel', sans-serif;
  background-color: #f7cac9;
}

a.join-link-green {
  display: block;
  height: 100%;
  color: #FFF;
  font-family: 'Abel', sans-serif;
  background-color: #9DC49D;
}

a.join-link-red {
  display: block;
  color: #FFF;
  font-family: 'Abel', sans-serif;
  background-color: #933f3d;
}

a.join-link:hover {
  color: #ac6b6a;
}

h5.host-link {
  margin-top: -0.1em;
  margin-bottom: -0.15em;
  font-family: 'Abel', sans-serif;
  width: 100%;
  text-align: center;
}

a.host-link {
  display: block;
  background-color: #f7cac9;
  color: #FFF;
  font-family: 'Abel', sans-serif;
}

a.host-link:hover {
  color: #ac6b6a;
}

#join-event {
  width: 100%;
  background-color: #92a8d1;
  padding: .8em 0em .8em 0em;
}

#create-venue {
  width: 100%;
  background-color: #5c7cb8;
  padding: .8em 0em .8em 0em;
}

#house-party {
  width: 100%;
  background-color: #2f569f;
  padding: .8em 0em .8em 0em;
}

#index-event-list {
  border-top: 2px solid #f7cac9;
  margin-bottom: -1em;
}

.event-list {
  border-bottom: 2px solid #f7cac9;
  margin-bottom: 4px;
}

#new-index-event-list {
  border-top: 2px solid #92a8d1;
}

.new-index-address {
  border-bottom: 2px solid #92a8d1;
}

.rating {
  font-family: 'Abel', sans-serif;
  color: #92a8d1;
  text-align: right;
}

.round-form {
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border: 2px inset #999;
  margin-top: .7em;
  line-height: 2em;
  width: 100%;
}

h5.house-party-name {
  font-family: 'Abel', sans-serif;
  color: #5c7cb8;
  margin-right: -1em;
  text-align: left;
}

h5.house-party-address {
  font-family: 'Abel', sans-serif;
  color: #de8a89;
  text-align: left;
}

.turn-it-up {
  width: 100%;
  font-size: 2em;
  color: #FFF;
  background-color: #c55452;
  margin-bottom: 0em;
}

#blue-bar {
  height: 2em;
  background-color: #92a8d1;
}

textarea#house-party-description {
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border: 2px inset #999;
}

/*#fix-map {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

#lists-fixed {
  position: fixed;
  top: vh;
  bottom: 0;
  width: 100%;
  z-index: 10;
}
*/
