div.main {
  font-family: 'Abel', sans-serif;
  vertical-align: center;
}

#map {
  height: 50vh;
  width: 100%;
}

#new-map {
  min-height: 25em;
  max-height: 40em;
  width: 100%;
}

.location {
  line-height: .5em;
}

div.main button {
  display: inline;
  font-family: 'Abel', sans-serif;
  background: none;
  border: none;
  background-color: #92A8D1;
  color: white;
  font-size: 1em;
  width: 50%;
  height: 4em;
}

h4 {
  font-family: 'Oleo Script', cursive;
  text-align: center;
  font-size: 2em;
  color: #92a8d1;
}

h1.rose-quartz {
  font-size: 10vh;
  margin-top: 30vh;
  font-family: 'Oleo Script', cursive;
  text-align: center;
  color: #f7cac9;
}
