div.remark_buttons {
  display: inline;
  font-size: 2em;
  text-align: center;
  width: 50%;
}

div.remark_buttons {
  padding-top: 5px;
}

div.remark_buttons a.love{
  color: white;
  background-color: #F7CAC9;
  width: 50%;
  padding: 0px 2px 0px 2px;
  float: right;
}

div.remark_buttons a.hate{
  color: white;
  background-color: #933f3d;
  width: 50%;
  padding: 0px 2px 0px 2px;
  float: right;
}

div.love_form {
  margin-top: 2px;
  display: none;
  text-align: center;
  font-size: 2em;
  width: 100%;
}

div.love_form input[type="submit"]{
  font-family: 'Abel', sans-serif;
  background: none;
  border: none;
  background-color: #de8a89;
  color: white;
  font-size: 1em;
  width: 100%;
  height: 4em;
}

div.love_form button{
  font-family: 'Abel', sans-serif;
  background: none;
  border: none;
  background-color: #92A8D1;
  color: white;
  font-size: 1em;
  width: 100%;
  height: 4em;
}

div.hate_form {
  margin-top: 2px;
  display: none;
  text-align: center;
  font-size: 2em;
  width: 100%;
}

div.hate_form input[type="submit"]{
  font-family: 'Abel', sans-serif;
  background: none;
  border: none;
  background-color: #933f3d;
  color: white;
  font-size: 1em;
  width: 100%;
  height: 4em;
}

div.hate_form button{
  font-family: 'Abel', sans-serif;
  background: none;
  border: none;
  background-color: #92A8D1;
  color: white;
  font-size: 1em;
  width: 100%;
  height: 4em;
}

div.remark_display {
  display: none;
}

div.remarks.top_margin {
  vertical-align: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div.remark img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

div.remark {
  background-color: #f1f1f1;
  padding-top: 4px;
  margin-bottom: 2px;
}

div.remark.row {
  width: 100%;
  vertical-align: center;
}

div.attendees div.row {
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right: auto
}

div.reveal-modal.love{
  background-color: #de8a89;
}

div.reveal-modal.hate{
  background-color: #933f3d;
}

div.reveal-modal img{
  height: 75px;
  width: 100px;
  border-radius: 50%;
}

i.emotion {
  color: white;
  font-size: 42px; 
  text-indent: center;
}

p.emotion {
  text-align: center;
}

div.score {
  color: white;
  font-size: 5em;
  text-align: center;
}

div.description {
  color: white;
  font-size: 1.5em;
  text-align: center;
}

div.picture img {
  border: none;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 300px;
  border-radius: 0%;
}

div.remark_vote {
  font-size: 2em;
  text-align: center;
  width: 100%;
}

div.remark_vote input[type="submit"] {
  font-size: 1em;
  width: 100px;
  color: white;
  background: none;
  border: none;
}

.descript_text {
  display: inline;
  margin: 0;
  padding: 0;
}

.black {
  color: black;
}

.red {
  color: red;
}

.centered {
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

p.close_button {
  margin-bottom: 5px;
  padding-bottom: 20px;
}

a.close_button {
  color: white;
}

form#new_vote {
  margin-top: 5px;
}

span.remarked_already {
  color: white;
  background-color: #92a8d1;
  width: 100%;
  padding: 0px 2px 0px 2px;
  float: right;
}

span.current_user {
  color: white;
  background-color: #9DC49D;
  width: 100%;
  padding: 0px 2px 0px 2px;
  float: right;
}

.fi-skull {
  color: black;
}

.fi-heart {
  color: red;
}

.close-reveal-modal.close_button {
  color: white;
  font-size: 2em;
  right: 10px;
}