div.remark_buttons {
  display: inline;
  font-size: 2em;
  text-align: center;
  width: 50%;
}

div.remark_buttons {
  padding-top: 5px;
}

div.remark_buttons a.love{
  color: white;
  background-color: #F7CAC9;
  width: 50%;
  padding: 0px 2px 0px 2px;
  float: right;
}

div.remark_buttons a.hate{
  color: white;
  background-color: #933f3d;
  width: 50%;
  padding: 0px 2px 0px 2px;
  float: right;
}

div.love_form {
  display: none;
  text-align: center;
  font-size: 2em;
  width: 100%;
}

div.love_form input[type="submit"]{
  font-family: 'Abel', sans-serif;
  background: none;
  border: none;
  background-color: #de8a89;
  color: white;
  font-size: 1em;
  width: 100%;
  height: 4em;
}

div.love_form button{
  font-family: 'Abel', sans-serif;
  background: none;
  border: none;
  background-color: #92A8D1;
  color: white;
  font-size: 1em;
  width: 100%;
  height: 4em;
}

div.hate_form {
  display: none;
  text-align: center;
  font-size: 2em;
  width: 100%;
}

div.hate_form input[type="submit"]{
  font-family: 'Abel', sans-serif;
  background: none;
  border: none;
  background-color: #933f3d;
  color: white;
  font-size: 1em;
  width: 100%;
  height: 4em;
}

div.hate_form button{
  font-family: 'Abel', sans-serif;
  background: none;
  border: none;
  background-color: #92A8D1;
  color: white;
  font-size: 1em;
  width: 100%;
  height: 4em;
}

div.remark_display {
  display: none;
}

div.remarks.top_margin {
  vertical-align: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div.remark img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

div.remark.row {
  width: 100%;
  vertical-align: center;
}

div.attendees div.row {
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right: auto
}
