.full_width {
  width: 100%;
}

#user-search-bar {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 20em;
  margin: auto;
}

.search-results-div {
  background-color: #f7cac9;
}

div.user_image img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

div.user_image {
  width: 100%;
  text-align: center;
  padding: 0.5em;
  margin: 0;
  background-color: #f1f1f1;
}

span.user-popularity {
  color: black;
  font-size: 2em;
  font-weight: bolder;
  width: 50%;
  height: 50%;
}

span.user-popularity i{
  color: gold;
  font-size: .8em;
}

ul.tabs.tab-title > li > a{ 
  font-family: 'Oleo Script', cursive;
}

#events_tab h5 {
  font-family: 'Oleo Script', cursive;
  color: white;
  text-align: center;
  background-color: #2f569f;
}

#love_hate_tab h5 {
  font-family: 'Oleo Script', cursive;
  color: white;
  text-align: center;
  background-color: #c55452;
  margin: 0px;
  padding: 0px;
}

#events_tab p {
  font-family: 'Abel', sans-serif;
  text-align: center;
  font-weight: bolder;
  margin: 0px;
  padding: 0px;
}

#love_hate_tab p {
  font-family: 'Abel', sans-serif;
  text-align: center;
  font-weight: bolder;
  margin: 0px;
  padding: 0px;
}

.user-name p{
  color: #425a86;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.switch {
  background-color: #f1f1f1;
  margin:0px;
  border-bottom: 1px solid gray;
}

.user-name {
  display: block;
  text-align: center;
}

.Top-stay {
  width: 100%;
  padding-top: 10px;
  background-color: #f1f1f1;
}

.bottom-move {
  margin-top: 400px;
}

.user-page-link {
  position: absolute;
  top: 5px;
  z-index: 5;
  margin-left: 0.5em;
  padding-left: 11px;
  padding-right: 11px;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 50%;
  color: #92a8d1;
}

.home-page-link {
  position: absolute;
  top: 5px;
  z-index: 5;
  margin-left: 0.5em;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 50%;
  color: #92a8d1;
}

p.icon {
  font-size: 1.4em;
}

.pad_top {
  margin-top: 10px;
}

.center {
  text-align: center;
  vertical-align: center;
}

.tabs {
  font-family: 'Oleo Script', cursive;
}

.tabs a {
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

.tabs li {
  text-align: center;
  padding: 0;
  margin: 0;
}

.event_detail {
  background-color: #f1f1f1;
  text-align: center;
}

.love_detail {
  background-color: #f7cac9;
  text-align: center;
}

.hate_detail {
  background-color:  #933f3d;
  color: white;
  text-align: center;
}

.instagram_detail {
  text-align: center;
  background-color: #92a8d1;
}

.fi-star {
  color: gold;
}
