#user-search-bar {
  -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
  border-radius: 20px;
  width: 20em;
  margin: auto;

}

.search-results-div {
  background-color: #f7cac9;
}
div.user_image img {
 -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
  border-radius: 50%;
    width: 100px;
  height: 100px;
}

div.user_image {
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 1em;
    background-color: lightgray;
    width: 100%;
}

.user-popularity {
  background-color:#f7cac9;
  font-size: 5em;
 -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  width: 100px;
  height: 100px;
}



.user-name h1{
  color: #425a86;
}

.switch {
  background-color: lightgray;
  margin:0px;
  border-bottom: 1px solid gray;
}


.user-nav-bar {
  text-align: center;
}

.user-nav-bar h5{
  display: inline;
  text-align: center;
  padding: .3em;
}

.user-name {
  text-align: center;

}

.Top-stay {
  position: fixed;
  top: 0px;
  width: 100%;
}

.bottom-move {
  margin-top: 350px;
}

.user-page-link {
  position: absolute;
  top: 11px;
  z-index: 5;
  padding-left: 7px;
  padding-right: 7px;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 50%;
  color: #92a8d1;
}
