div#event_show {
  background-image: url("/assets/placerholder.jpg");
  text-align: center;
}

div.vote form{
  background-image: "/src";
}

div.vote input[type="submit"] {
  font-family: 'Abel', sans-serif;
  font-size: 2em;
  background: none;
  border: none;
  background-color: #F7CAC9;
  color: white;
  width: 100%;
  vertical-align: center;
  height: 2em;  
}

div#event_show div.name {
  display: inline;
  font-size: 5em;
  color: #92A8D1;
}

div#event_show div.score {
  display: inline;
  font-size: 5em;
  color: #F7CAC9;
}

div#event_show div.address {
  padding-bottom: 10px;
}

div.voted {
  display: none;
  background-color: green;
}

div.user_info {
  width: 50%;
}

div.user_info img {
  height: 60px;
  width: 60px;
}

.title {
  font-family: 'Oleo Script', cursive;
  text-align: center;
  font-size: 2em;
  color: #92A8D1;
}