.refresh {
  display: none;
  vertical-align: center;
  text-align: center;
  background-color: white;
  margin-top: 5px;
  width: 100%;
  height: 50px;
}

.refresh img {
  vertical-align: center;
  width: 40px;
  height: 40px;
}

div.vote input[type="submit"] {
  font-family: 'Abel', sans-serif;
  font-size: 2em;
  background: none;
  border: none;
  background-color: #F7CAC9;
  color: white;
  width: 100%;
  height: 6em;
  margin-top: 1em;
}

span.checked_in {
  font-size: 1em;
}

div#event_show {
  width: 100%;
  height: 40%;
  background-image: image-url("placeholder.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  vertical-align: center;
  text-align: center;
}

div#event_show p.name {
  top: 60px;
  background:rgba(255,255,255,0.5);
  display: block;
  text-align: center;
  font-size: 2.8em;
  font-weight: bolder;
  color: black;
  margin: 0px;
  padding: 0px;
}

div#event_show p.address {
  background-color: black;
  display: block;
  text-align: center;
  font-weight: bolder;
  color: white;
  width: auto;
  margin: 0px;
  margin-top: 48px;
}

div#event_show p.description {
  top: 60px;
  display: none;
  font-size: 1em;
  font-style: italic;
  font-weight: bolder;
  text-align: center;
  background-color: black;
  color: white;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

div.voted {
  font-family: 'Abel', sans-serif;
  font-size: 1em;
  background-color: #F7CAC9;
  color: white;
  width: 100%;
  text-align: center;
}

div.user_info {
  font-size: 1em;
  width: 50%;
}

div.user_info img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

span.title {
  font-family: 'Oleo Script', cursive;
  text-align: center;
  font-size: 2em;
  color: #92A8D1;
}

div.user_row {
  margin-top: 2px;
  margin-bottom: 2px;
}

div.pos {
  background-color: #9DC49D;
}

div.neg {
  background-color: #933f3d;
}

div.top_margin {
  margin-top: 10px;
}
