div#event_show {
  background: url("placeholder.jpg");
  background-size: cover;
  opacity: 0.8;
  text-align: center;
}

div.vote {
  padding-top: 10px;
}

div.vote input[type="submit"] {
  font-family: 'Abel', sans-serif;
  font-size: 2em;
  background: none;
  border: none;
  background-color: #F7CAC9;
  color: white;
  width: 100%;
  vertical-align: center;
  height: 2em;  
}

div#event_show div.name {
  display: inline;
  font-size: 5em;
  color: white;
}

div#event_show div.score {
  display: none;
  font-size: 5em;
  color: white;
}

div#event_show div.address {
  color: white;
}

div.voted {
  font-family: 'Abel', sans-serif;
  font-size: 2em;
  background-color: #F7CAC9;
  color: white;
  width: 100%;
  text-align: center;
}

div.user_info {
  width: 50%;
}

div.user_info img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.title {
  font-family: 'Oleo Script', cursive;
  text-align: center;
  font-size: 2em;
  color: #92A8D1;
}

div.pos {
  background-color: #9DC49D;
}

div.neg {
  background-color: #5c7cb8;
}

div.top_margin {
  margin-top: 10px;
}